<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissable"> 
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= flash[:notice] %></div>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @ticket.text %>
</p>